:root {
  --primary-color: rgb(63, 63, 63);
  --secondary-color: rgba(210, 191, 194, 0.475);
  --branding-color: rgb(135, 62, 74);
  --heading-font-family: "Bad Script", cursive;
  --defualt-font-family: "Raleway", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
}
h2 {
  font-family: var(--defualt-font-family);
}

h1,
h2 {
  color: var(--primary-color);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--defualt-font-family);
}
